@font-face {
  font-family:MCmain;
  src: url(fonts/minecraft-chmc-font/Minecraftchmc-dBlX.ttf);
}
body {
    background-image: url('BlockSprite_dirt.png');
    background-position: center center;
    background-repeat: repeat;
    background-size: 200px;
    font-family: MCmain;
    image-rendering: pixelated
}
div section {
    color: gray;
}
